syntax: glob
.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pickle

*.Rproj*
*.Rout
.RData
.Rhistory

# pandoc output
rmarkdown*.{pdf,html,doc,docx,odt}
paper*.{pdf,html,doc,docx,odt}
README.{pdf,html,doc,docx,odt}

# graphics
*.png
*.pdf

# temp files
*\~
bib.keys
*.swp
